body {
	margin:0;
}

.container {
	display: flex;
	/*font-size: 0;*/
}

.mirvet{
	border: 1px solid #000;
	flex: 1;
	/*font-size: 16px;
	display: inline-block;*/
	background-color: #FA4;
	width: 50%;
	height: 200px;
	/*float: left;*/
	margin: 0;
}

.mir2 {
	flex: 2;
}